[user]
	name = d-user11
	email = 60410862+d-user11@users.noreply.github.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = vim
[alias]
    lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    graph = lg --graph
    poh = push origin HEAD
